.landingContainer {
  display: flex;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.landingDetails {
  padding: 40px;
  padding-top: 20px;
  font-size: 20px;
  line-height: 24px;
  text-align: justify;
}

.landingForm {
  padding: 20px;
  width: 1500px;
}

.formContainer {
  padding: 50px;
  background-color: #ccdfff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.headerText {
  font-size: 28px;
  text-align: center;
  color: #181818;
  margin-bottom: 24px;
}

.formInput {
  width: 100%;
  margin-bottom: 30px;
  font-size: 18px;
  padding: 10px;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.formButton {
  width: 100%;
  padding: 11px;
  border-radius: 20px;
  background-color: #ff8500;
  color: white;
  font-size: 18px;
  margin-top: 40px;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.formButton:hover {
  background-color: #567ec0;
}

.landingImage {
  margin-left: 60px;
  padding: 20px;
}

@media (max-width: 768px)  {
  .landingContainer {
    display: flex;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    flex-wrap: wrap;
  }
}

@media (max-width: 426px)  {
  .landingContainer{
    padding: 0;
  }
  .landingImage {
   display: none !important;
   padding: 0px !important;
  }
  .landingForm {
    padding: 20px;
    width: 100% !important;
  }
}


